body {
  background-color: #F8F8F8;
  font-family: Arial, sans-serif;

}

  h1 {
    font-size: 28px;
    margin: 0;
  }


  h2 {
    font-size: 24px;
    color: #FFA500;
    margin: 0;
  }

  p {
    margin-top: 10px;
  }


  .fotoIndex {
    position: absolute;
    margin-top: 17%;
    margin-left: 65%;
    border: 5px solid #b8b6b3;
    border-radius: 5px;
    width: 560px;

  }
  
